

body {
    background-color: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #0075A3;
}


.product-hunt {
    background-color: #DA552F;
    color: #fff;
    padding: 15px 0px;
    position: absolute;
    top: 0;
    width: 100%;
}

.product-hunt h3 {
    font-size: 28px;
    margin-top: 0;
}

.product-hunt a {
    color: #fff;
    text-decoration: underline;
}

.header, .footer {
    min-height: 100px;
}

.footer {
    padding: 35px;
    color: #f1f1f1;
}

.logo {
    // height: 100px;
    line-height: 100px;
    padding: 0 35px;
}

.nav-links {
    height: 100px;
    line-height: 100px;
    padding: 0 35px;
}

.nav-links a {
    color: #E8EBF0;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.nav-links a:hover {
    color: #b3b3b3;
}

.main {
    margin-top: 125px;
    margin-bottom: 100px;
}

.wrap {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.hook {
    padding: 70px 35px 0 35px;
}

.hook h1 {
    font-size: 54px;
}

.screenshots {
    border-top: 1px solid rgb(228, 228, 228);
    border-bottom: 1px solid rgb(228, 228, 228);
}

.block {
    min-height: 300px;
    padding: 75px 0;
}

.block img {
    display: inline-block;
    max-height: 600px;
}

.block-sm {
    min-height: 300px;
    padding: 35px 0;
}

.faq h2 {
    color: #001C27;
    font-size: 44px;
    font-weight: 900;
    font-style: italic;
    text-align: left;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.42);
}

.faq p {
    margin: 0 0 55px 0;
    font-size: 26px;
    line-height: 1.5em;
    font-weight: 100;
    background: rgba(244, 244, 244, 0.6);
    padding: 30px 40px;
    border-radius: 3px;
    text-align: left;
    box-shadow: 0 40px 240px rgba(140, 140, 140, 0.29), 0 2px 5px #e3e3e3;
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(179, 179, 179, 0.63);
}

.social {
    padding-top: 10px;
}


/* Colors */
.darkblue {
    background-color: #001C27;    
}

.blue {
    background-color: #E6E9EE;
}

.gray {
    background-color: #EEEEEE;
}

.white {
    background-color: #FFFFFF;
}


/* Bootstrap Overrides */
.btn-primary {
    background-color: #0075A3 !important;
    border-color: #0075A3 !important;
}

.btn-default {
    background-color: #f1f1f1 !important;
}